* {
  margin: 0;
  padding: 0;
  height: auto;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 768px) {
  .app {
    grid-template-rows:
      var(--header-height)
      var(--menu-top-height)
      1fr
      var(--footer-height);
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-areas:
      "content content";
  }
}

@media (max-width: 576px) {
  .app {
    grid-template-rows:
      var(--logo-height)
      var(--menu-top-height)
      1fr
      var(--footer-height);
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }
}